<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplikacja Spring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="p-3 mb-2 bg-dark text-white">
<div class="container">
    <table class="table table-striped" style="font-size: 14px;">
        <thead>
        <tr>
            <td>Nazwa</td>
            <td>Prezes</td>
            <td>Usun</td>
            <td>Pracownicy</td>
            <td>Dodaj</td>
        </tr>
        </thead>
        <tbody th:each=" firma : ${firmy}">
        <tr>
            <td th:text="${firma.nazwaFirmy}"></td>
            <td>
                <span th:text="${firma.prezesFirmy != null} ? ${firma.prezesFirmy.nazwisko} : 'BRAK PREZESA'"></span>
            </td>

            <td><a th:href="${'firmaRemove/'+firma.nazwaFirmy}" onclick="return confirm('Czy napewno chcesz usunąć?');">Usun Firme</a></td>

            <td><a th:href="${'osobaFiltr/'+firma.nazwaFirmy}">Zobacz pracownikow</a></td>

            <td><a th:href="${'/firmaAddOsoba/'+firma.nazwaFirmy}">Dodaj pracownika</a></td>
        </tr>
        </tbody>
    </table>
        <div class="d-flex justify-content-between">
            <a href="/" class="btn btn-primary btn-lg">Powrot</a>
            <a href="/firmaAdd" class="btn btn-primary btn-lg">Dodaj Firme</a>
        </div>
</div>
</body>
</html>