<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplikacja Spring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="p-3 mb-2 bg-dark">


<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col text-center">
             <form class="login-form" method="POST" action="/login" style="font-size: 14px;">

            <h5 class="login-element text-white">Email:</h5>
            <input lass="login-element" type="text" name="username" style="width: 100%"/>

            <h5 class="login-element text-white">Haslo:</h5>
            <input lass="login-element" type="password" name="password" style="width: 100%"/>
            <br><br>
            <button class="btn btn-success btn-sm login-element bg-success" type="submit" name="submit" style="width: 100%">Zaloguj</button>
            </form>
            <br>
            <a href="/register" class="btn btn-primary btn-sm" style="width: 100% ">Zarejestruj</a>
        </div>
        <div class="col">

        </div>
    </div>
</div>
</body>
</html>