<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplikacja Spring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="p-3 mb-2 bg-dark text-white">
<div class="container">
    <table class="table table-striped" style="font-size: 14px;">
        <thead>
        <tr>
            <td>Imie</td>
            <td>Nazwisko</td>
            <td>Email</td>
            <td>Firma</td>
            <td>Data zaturnienia</td>
            <td>Zwolnij</td>
        </tr>
        </thead>
        <tbody th:each=" o : ${osoby}">
        <tr th:class="${o.press} ? 'bg-success' : ''">
            <td th:text="${o.osoba.imie}"></td>
            <td th:text="${o.osoba.nazwisko}"></td>
            <td th:text="${o.osoba.email}"></td>
            <td th:switch="${o.press}">
            <span th:case="true">PREZES</span>
                <div th:case="*">
                    <span th:text="${o.osoba.firma != null} ? ${o.osoba.firma.nazwaFirmy} : 'BEZRBOTNY'"></span>
                </div>
            </td>
            <td th:text="${o.osoba.dataZatrudnienia}"></td>

            <td><a th:class="${o.press} ? 'text-white' : ''" th:href="${'osobaRemove/'+o.osoba.id+'/'+o.osoba.firma.nazwaFirmy}" onclick="return confirm('Czy napewno zwolnić z pracy?');">Zwolnij</a></td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <a href="/firmy" class="btn btn-primary btn-lg">Powrot</a>
    </div>
</div>
</body>
</html>