<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplikacja Spring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="p-3 mb-2 bg-dark text-white">
<div class="container">
    <form class="form-horizontal" th:object="${osoba}" th:action="@{/registerMethod}" th:method="post" style="font-size: 14px;">
        <div class="form-group">
            <label class="control-label">Imie:</label>
            <input type="text" class="form-control" th:field="*{imie}"/>
            <p class="text-info h6" th:if="${#fields.hasErrors('imie')}" th:errors="*{imie}"/>
        </div>
        <div class="form-group">

            <label class="control-label">Nazwisko:</label>

            <input type="text" class="form-control" th:field="*{nazwisko}"/>
            <p class="text-info h6" th:if="${#fields.hasErrors('nazwisko')}" th:errors="*{nazwisko}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Adres email:</label>
            <input type="text" class="form-control" th:field="*{email}"/>
            <p class="text-info h6" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Haslo:</label>
            <input type="password" class="form-control" th:field="*{password}"/>
            <p class="text-info h6" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary btn-lg">Potwierdz</button>
        </div>
    </form>
</div>
</body>
</html>